.display-none{
    display:none;
}
#game-canvas{
    border: 1px solid black;
}
#create-game-container{
    margin-top: 10px;
}
p{
    line-height: 0px;
    margin-top: 10px;
}
.game-element{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#back-to-menu {
    margin: 10px;
}